[Unit]
Description=Lotus One-Time Setup
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true

User=root
Group=root

ExecStart=/usr/local/bin/lotus-import-snapshot.sh

[Install]
WantedBy=multi-user.target
