[Unit]
Description=Poll for Lotus to be ready
After=lotus.service
Wants=lotus.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/service-ready.sh 127.0.0.1 1234 60

[Install]
WantedBy=multi-user.target
