[Unit]
Description=Poll for Yugabyte to be ready
After=yugabyte.service
Wants=yugabyte.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/service-ready.sh 127.0.0.1 5433 60

[Install]
WantedBy=multi-user.target
