[Unit]
Description=Poll for Curio to be ready
After=curio.service
Wants=curio.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/service-ready.sh 127.0.0.1 12300 60

[Install]
WantedBy=multi-user.target
