[Unit]
Description=Curio
After=network.target curio-prestart.service
Wants=curio-prestart.service

[Service]
User=root
Group=root
Type=simple

ExecStartPre=/bin/mkdir -p /var/log/curio

EnvironmentFile=/opt/curio.env
Environment=LOTUS_PATH=/var/lib/lotus
Environment=CURIO_REPO_PATH=/var/lib/curio
ExecStart=/usr/local/bin/curio run --layers=gui,pdp

StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=10

LimitNOFILE=65535

[Install]
WantedBy=multi-user.target