[Unit]
Description=Curio One-Time Setup
After=network-online.target lotus-poststart.service yugabyte-ready.service
Wants=lotus-poststart.service yugabyte-ready.service


[Service]
# We want to run this only once and leave it in "active (exited)" state
Type=oneshot
RemainAfterExit=true

User=root
Group=root

EnvironmentFile=/run/curio-address.env

ExecStartPre=/usr/bin/timeout 30 /bin/sh -c 'until nc -z 127.0.0.1 5433; do sleep 1; done'
# TODO this is a temporary command not in the main branch
# Context: https://filecoinproject.slack.com/archives/C0717TGU7V2/p1740779341321999
# The one-time command to run:
ExecStart=/usr/bin/env curio doit \
  --repo=/var/lib/lotus/ \
  --sector-size="32 GB" \
  --owner-address=${ADDRESS} \
  --worker-address=${ADDRESS} \
  --sender-address=${ADDRESS} \
  --harmony-hosts=127.0.0.1 \
  --harmony-username=yugabyte \
  --harmony-password=yugabyte \
  --harmony-database=yugabyte \
  --harmony-port=5433 \
  --env-file=/opt/curio.env \
  --add-pdp-service=storacha,/opt/service.pem \
  --import-pdp-key-file=/opt/lotus_wallet_delegated.json
ExecStart=/usr/bin/env curio config set --title=pdp /opt/curio-pdp.toml
ExecStart=/usr/bin/env curio config set --title=storage /opt/curio-storage.toml

[Install]
WantedBy=multi-user.target