[Unit]
Description=Lotus Daemon
After=lotus-prestart.service
Wants=lotus-prestart.service

[Service]
User=root
Group=root
Type=simple

ExecStart=/usr/local/bin/lotus --repo /var/lib/lotus daemon

StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=10

LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
