[Unit]
Description=Lotus Post-Start Tasks
After=lotus-ready.service
Wants=lotus-ready.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/lotus-import-wallets.sh

[Install]
WantedBy=multi-user.target
