[Unit]
Description=YugabyteDB single node via yugabyted
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/yugabyted start \
    --advertise_address 127.0.0.1 \
    --master_flags "rpc_bind_addresses=127.0.0.1" \
    --tserver_flags "rpc_bind_addresses=127.0.0.1" \
    --background=false
ExecStop=/opt/yugabyte/bin/yugabyted stop
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
